<!DOCTYPE html>
<html lang="en">
<head>
  <title>Medically</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid mt-2">
        <div class="">
          <div class="col-md-5 one">
            <h1><b>Logo</b></h1>
            <div class="input-group two">
              <!-- <span class="input-group-text custom-search-input">@</span> -->
              <input type="text" class="form-control custom-search-input" placeholder="Search...">
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid p-5">
        <div class="row">
          <div class="container-fluid"> 
            <div class="row">
                <div class="col-md-8 ">              
                  <div class="row">
                    <div class="col-md-8 mt-5 border d-flex align-items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people text-info" viewBox="0 0 16 16">
                          <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                      </svg>
                      
                      <span style="font-size: 25px;"><b>Circles</b></span>
                </div>
                <div class="image">
                  <div class="row">
                      <div class="col-md-3 mt-3">
                          <div class="card border-0" style="width: 100%;align-items: center;">
                              <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                              <div class="card-body">
                                  <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                                  <p class="card-text text-center">22M Members</p>
                                  <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join Circle</a>
                                </div>
                          </div>
                      </div>
              
                      <div class="col-md-3 mt-3">
                          <div class="card border-0" style="width: 100%;align-items: center;">
                              <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                              <div class="card-body">
                                  <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                                  <p class="card-text text-center">22M Members</p>
                                  <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join Circle</a>
                                </div>
                          </div>
                      </div>

                      <div class="col-md-3 mt-3">
                        <div class="card border-0" style="width: 100%;align-items: center;">
                            <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                            <div class="card-body">
                                <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                                <p class="card-text text-center">22M Members</p>
                                <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join Circle</a>
                              </div>
                        </div>
                    </div>

                    <div class="col-md-3 mt-3">
                      <div class="card border-0" style="width: 100%;align-items: center;">
                          <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                          <div class="card-body">
                              <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                              <p class="card-text text-center">22M Members</p>
                              <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join Circle</a>
                            </div>
                      </div>
                  </div>
              
                      <div class="col-md-3 mt-3">
                        <div class="card border-0" style="width: 100%;align-items: center;">
                            <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                            <div class="card-body">
                                <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                                <p class="card-text text-center">22M Members</p>
                                <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join Circle</a>
                            </div>
                        </div>
                    </div>
                    
              
                    <div class="col-md-3 mt-3">
                      <div class="card border-0" style="width: 100%;align-items: center;">
                          <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                          <div class="card-body">
                              <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                              <p class="card-text text-center">22M Members</p>
                              <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join CIrcle</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-3 mt-3">
                    <div class="card border-0" style="width: 100%;align-items: center;">
                        <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                        <div class="card-body">
                            <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                            <p class="card-text text-center">22M Members</p>
                            <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join CIrcle</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mt-3">
                  <div class="card border-0" style="width: 100%;align-items: center;">
                      <img class="card-img-top rounded-circle" src="../static/images/doctor.jpg" alt="Card image" style="width:75%">
                      <div class="card-body">
                          <h5 class="card-text text-center"><b>Lorem ipsum</b></h5>
                          <p class="card-text text-center">22M Members</p>
                          <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;">Join CIrcle</a>
                      </div>
                  </div>

              </div>

                    <pre>   

                    </pre>
                  <div style="display: flex; justify-content: center;">
              <ul class="pagination pagination-circle pagination-lg me-5">
                <li class="page-item "><a class="page-link text-info" href="#">&lt;-</a></li>
                  <pre>   </pre>
                  <li class="page-item "><a class="page-link text-info" href="#">1</a></li>
                  <pre>   </pre>
                  <li class="page-item"><a class="page-link text-info" href="#">2</a></li>
                  <pre>   </pre>
                  <li class="page-item"><a class="page-link text-info" href="#">3</a></li>
                  <pre>   </pre>
                  <li class="page-item"><a class="page-link text-info" href="#">4</a></li>
                  <pre>   </pre>
                  <li class="page-item"><a class="page-link text-info" href="#">5</a></li>
                  <pre>   </pre>
                  <li class="page-item "><a class="page-link text-info" href="#">- <span>&gt;</span></a></li>

              </ul>
          </div>
                  </div>
                </div>
              </div>
            </div> 
                <div class="col-md-4 border mt-5 p-3" style="box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);">
                  <div class="row">
                    <h5><b>Research Publications</b></h5>
                    <div class="col-md">
                      <div class="row">
                        <div class="col custom-colimg d-flex align-items-center">
                          <img class="good-img" src="/images/goodedu.png" style="width: 170px;">
                        </div>
                        <div class="col">
                          <pre>
                          </pre>
                          <p><b>Alzheimer's disease - paths for <br>treatment</b></p>
                          <p style="margin-top: 5px; color: rgba(128,128,128,0.8);">Notifications  <button style="border: red; color:red;">3</button></p>
                          <a href="#" style="color: aqua;">View Publications</a>
                        </div>
                        <div class="row">
                        <div class="col custom-colimg d-flex align-items-center">
                          <img class="good-img" src="/images/goodedu.png" style="width: 170px;">
                        </div>
                        <div class="col">
                          <pre>
                          </pre>
                          
                          <p><b>Infectious disease past versus<br>present</b></p>
                          <p style="margin-top: 5px; color: rgba(128,128,128,0.8);">Notifications  <button style="border: red; color:red;">3</button></p>
                          <a href="#" style="color: aqua;">View Publications</a>
                          </div>
                        </div>
                        </div>  
                      </div>
                    </div>
                    <pre>

                    </pre>
                    <h5><b>Suggested Circle</b></h5>
                    <br>
                    <div class="col" style="position: relative;">
                      <div class="container-fluid">
                        <div style="border:1px solid rgba(215, 210, 210, 0.867);">
                          <div class="card border-0" style="width: 100%;align-items: center;">
                          <img class="img-fluid card-img-top fade-in" src="/images/keyboard.png" style="height: 150px;">
                          <div style="position: absolute; top: 120px; left: 40px;">
                            <img class="rounded-circle" src="/images/profilepic.png" style="width: 80px;height: 80px; border: 3px solid white;">
                          </div>
                          <h6 style="margin-top: 50px;"><b>Infectious diseases Group</b></h6>
                          <h6 class="text-muted">@diseasegroup</h6>
                          <a href="#" class="btn btn-outline-info d-flex justify-content-center" style="border-radius: 20px;width:200px;">Join Circle</a>
                          <pre></pre>
                        </div>
                      </div>
                      </div>
                      <br>
                    </div>  
                    <br>
                    <div style="width:100%; margin-top: 15px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);" class="Explore">
                      <br>
                      <h5 class="research"><b>Explore Events</b></h5>
                      <div class="box">
                        <img src="../static/images/gift-box-with-a-bow.png" width="25" height="25" alt="gift">
            
                        <p>Alzheimer's disease - paths for treatment</p>
                      </div>
                      <div class="box1">
                        <img src="../static/images/gift-box-with-a-bow.png" width="25" height="25" alt="gift">
                        <p>Alzheimer's disease - paths for treatment</p>
                      </div>
                    </div>  
                    <pre>

                    </pre>
                    <div style="width:100%; margin-top: 15px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);" class="Explore ">
                      <br>
                      <div class="ms-5">

                        <div style="display: flex; align-items: center;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="aqua" style="margin-right: 10px;width:30px;" class="bi bi-info-circle" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                          </svg>
                          <br>
                          <div class="container-fluid">
                              <h5><b>Ask Research Question ?</b></h5>
                              <p><b>Ask questions in Q&A to get<br>help from experts in your field.</b></p>
                          </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center">
                      <a href="#" class="btn btn-outline-info rounded-pill px-4">Ask a Question</a>
                  </div>
                  
                  </div>
                  
                   
            </div>


            
        </div>
        </div>   
        
            
          </div>
                
            <div class="col-md-4 border mt-5"> </div>
            <div class="col"></div>
        </div>
    
    </div>
    
    
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
